.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


:root {
    --raleway: "raleway", sans-serif;
    --regular: 400;
    --bold: 700;
    --black: #212529;
    --text: #FFFFFF --white: white;
    --pink: #e83e8c;
    --blue: #17a2b8;
}

body {
    font-family: var(--raleway);
}

header {
    color: var(--text);
    font-family: var(--raleway);

}

.nav {
    background-color: #373A3C;
}

.hero-section {
    background-image: url("../img/bg-hero.jpg");
    height: 630px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.h1 {
    font-size: 70px;
    font-weight: 700;
}
.text {
    font-style: var(--bold);
    padding-right: 5%;
    padding-top: 5rem;
}

.butn-fill{
width: 99px;
height: 40px;
background: #17A2B8 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
border-color: #17A2B8
}

.butn{
width: 99px;
height: 40px;
border-radius: 4px;
opacity: 1;
border-color: #17A2B8;
color: white;
}

h2 {
    padding-top: 66px;
    text-align: center;
    font-weight: 700;
    font: normal normal bold 50px/59px Raleway;
}
p {
    text-align: center;
    font: normal normal normal 16px/25px Raleway;
}
.icons {
    font-size: 4rem;
}
h5 {
    padding-top: 1rem;
    font-weight: bold;
}
.icons p {
    padding-top: 2rem;


}
.work-section {
background-color:  #17A2B8;  
color: white;

}

.cards {
    height: 232px;
}
.cards2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.butn-2{
    width: 99px;
height: 40px;
border-radius: 4px;
opacity: 1;
border-color: #17A2B8;
color: #17A2B8;
padding-bottom: 1rem;

}

.contact {

    width: 60%;
    padding-bottom: 2rem;
    font-style: var(--bold);

}


footer{
    background-color: black;
    color: white;
    padding: 1rem;
    
}